# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
/tmp
/test-output
/storybook-static

**/dist/**
**/out-tsc/**
**/coverage/**
**/test-output/**
**/storybook-static/**
**/vite.config.*.timestamp*
**/vitest.config.*.timestamp*
