{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,

  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",

  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,

  "arrowParens": "always",
  "endOfLine": "lf",

  "jsxSingleQuote": false,

  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",

  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^next(/.*)?$",
    "",
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@open-zentra/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderCaseSensitive": false
}
