import React from 'react';

import { describeRawComponent } from '../../test/describe-component';
import { <%= className %>, <%= className %>Modifiers, <%= className %>Variants } from './index';

describeRawComponent(
  <<%= className %>>Test Content</<%= className %>>,
  {
    name: '<%= className %>',
    rootInstanceOf: <%= rootInstanceOf %>,
    variants: <%= className %>Variants,
    modifiers: <%= className %>Modifiers,
    isPublicComponent: <%= isPublic %>,
    shouldSupportPolymorphism: <%= supportsPolymorphism %>,
  },
  () => {
    // Add custom tests here
  },
);

