export { <%= className %> } from './<%= fileName %>';
export type {
  <%= className %>Component,
  <%= className %>Modifiers,
  <%= className %>OwnProps,
  <%= className %>Props,
  <%= className %>Slots,
  <%= className %>Variants,
} from './<%= fileName %>';
export {
  <%= className %>Modifiers,
  <%= className %>Slots,
  <%= className %>Variants,
} from './<%= fileName %>';

