/**
 * <%= className %> Query Keys
 *
 * Type-safe query key factory for <%= name %> entity.
 */

import { createQueryKeys } from '@open-zentra/foundation-data-model';

/**
 * Query keys for <%= name %> entity
 */
export const <%= propertyName %>Keys = createQueryKeys('<%= propertyName %>s');
