/**
 * useDLCreate<%= className %> Hook
 *
 * Creates a new <%= name %>.
 */

import type { FunctionArgs, FunctionReference, FunctionReturnType } from 'convex/server';
import { useDLCreate, type UseDLCreateOptions } from '@open-insights-web/foundation-data-layer';
import { <%= propertyName %>Keys } from './<%= fileName %>-keys';

/**
 * Options for useDLCreate<%= className %>
 */
export type UseDLCreate<%= className %>Options<TMutation extends FunctionReference<'mutation'>> = Omit<
  UseDLCreateOptions<TMutation, FunctionReturnType<TMutation>, FunctionArgs<TMutation>>,
  'table' | 'listQueryKey'
>;

/**
 * Create a new <%= name %>
 */
export function useDLCreate<%= className %><TMutation extends FunctionReference<'mutation'>>(
  options: UseDLCreate<%= className %>Options<TMutation>
) {
  return useDLCreate<TMutation, FunctionReturnType<TMutation>, FunctionArgs<TMutation>>({
    ...options,
    table: '<%= propertyName %>s',
    listQueryKey: <%= propertyName %>Keys.list(),
  });
}
