/**
 * useDLDelete<%= className %> Hook
 *
 * Deletes a <%= name %> by ID.
 */

import type { FunctionArgs, FunctionReference, FunctionReturnType } from 'convex/server';
import { useDLDelete, type UseDLDeleteOptions } from '@open-insights-web/foundation-data-layer';
import { <%= propertyName %>Keys } from './<%= fileName %>-keys';

/**
 * Options for useDLDelete<%= className %>
 */
export type UseDLDelete<%= className %>Options<TMutation extends FunctionReference<'mutation'>> = Omit<
  UseDLDeleteOptions<TMutation, FunctionReturnType<TMutation>, FunctionArgs<TMutation>>,
  'table'
>;

/**
 * Delete a <%= name %> by ID
 */
export function useDLDelete<%= className %><TMutation extends FunctionReference<'mutation'>>(
  options: UseDLDelete<%= className %>Options<TMutation>
) {
  return useDLDelete<TMutation, FunctionReturnType<TMutation>, FunctionArgs<TMutation>>({
    ...options,
    table: '<%= propertyName %>s',
    listQueryKey: options.listQueryKey ?? <%= propertyName %>Keys.list(),
    itemQueryKey: options.itemQueryKey ?? ((id: string) => <%= propertyName %>Keys.detail(id)),
  });
}
