/**
 * useDLUpdate<%= className %> Hook
 *
 * Updates an existing <%= name %>.
 */

import type { FunctionArgs, FunctionReference, FunctionReturnType } from 'convex/server';
import { useDLUpdate, type UseDLUpdateOptions } from '@open-insights-web/foundation-data-layer';
import { <%= propertyName %>Keys } from './<%= fileName %>-keys';

/**
 * Options for useDLUpdate<%= className %>
 */
export type UseDLUpdate<%= className %>Options<TMutation extends FunctionReference<'mutation'>> = Omit<
  UseDLUpdateOptions<TMutation, FunctionReturnType<TMutation>, FunctionArgs<TMutation>>,
  'table'
>;

/**
 * Update an existing <%= name %>
 */
export function useDLUpdate<%= className %><TMutation extends FunctionReference<'mutation'>>(
  options: UseDLUpdate<%= className %>Options<TMutation>
) {
  return useDLUpdate<TMutation, FunctionReturnType<TMutation>, FunctionArgs<TMutation>>({
    ...options,
    table: '<%= propertyName %>s',
    listQueryKey: options.listQueryKey ?? <%= propertyName %>Keys.list(),
    itemQueryKey: options.itemQueryKey ?? ((id: string) => <%= propertyName %>Keys.detail(id)),
  });
}
